.header {
    background-color: black;

}

.header h1{
    color: #ffffff;
}

.header-options{
    display: inline-flex;
}

.searchform{
    margin: 10px;
}

/*
.search-button {
    background: #C31991;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }

  .front {
    display: block;
    padding: 6px 24px;
    border-radius: 12px;
    background: #F657C7;
    color: white;
    transform: translateY(-6px);
  }

  .search-button:active .front {
    transform: translateY(-2px);
  }

.search-button:hover {
    background: #AF047C;
}

.front:hover {
    background: #F625B7;
} */


.dropdown-menu{
    width:fit-content;
    height:fit-content;
    margin: 10px; 

}


