.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
 .modal-content {
    border-radius: 25px 25px 25px 25px;
    background: rgb(142,227,255);
    background: linear-gradient(248deg, rgba(142,227,255,1) 0%, rgba(242,129,255,1) 35%, rgba(255,109,168,1) 62%, rgba(255,184,81,1) 100%);
    /* background: rgb(0,147,196);
    background: linear-gradient(90deg, rgba(0,147,196,1) 0%, rgba(195,0,218,1) 35%, rgba(255,151,0,1) 100%); */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 80%; /* Could be more or less, depending on screen size */
    /*flex display for every div in the modal*/
    color: #ffffff;
  
 }